
<div class="coloured">
  <div class="w-container">
    <h1 class="slider-heading">{{config.coinName}} Support</h1>
    <div class="subhead-text">Need an account?&nbsp;<a href="#/create-your-account" class="login-link steps">Create a {{config.coinName}} account.</a>
    </div>
  </div>
</div>
<div>
  <div class="w-container create-account-container">
    <div class="no-account-div top-box">
      <div class="w-row">
        <div class="w-col w-col-6 column-support"><img class="support-icon" src="images/support-icon.png" width="26" alt="545cbe8b9ad3ba6e43450ea8_support-icon.png">
          <div class="support-block">Support Email:</div>
          <div class="support-text">{{config.platformEmail}}</div>
        </div>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-6">
        <div class="no-account-div">
          <div><img class="img-icon" src="images/plane-icon.png" width="55" alt="54524d5ab0a2eeb00b0efac6_plane-icon.png">
          </div>
          <div class="info-header middle">What is {{config.platformName}}?</div>
          <div class="no-account-text thin middle">{{config.platformName}} is a service providing free hosted various Cryptonote accounts. It was developed by the Democats team. It is based on MyMonero (frontend) and the Payment Gateway Service, provided by the Bytecoin team, NOT endorsed by both.</div>
        </div>
      </div>
      <div class="w-col w-col-6">
        <div class="no-account-div">
          <div><img class="img-icon" src="images/w-icon.png" width="55" alt="54521570b0a2eeb00b0ef506_w-icon.png">
          </div>
          <div class="info-header middle">What is a Hosted {{config.coinName}} Account?</div>
          <div class="no-account-text thin middle">{{config.platformName}} provides secure, hosted {{config.coinName}} accounts in order to provide easy access to funds for those that would prefer not to run a full {{config.coinName}} client themselves, or for those on devices with limited resources. You can access your account on any device, as long as you have access to your private login key. {{config.platformName}} never knows your private login key, and is thus unable to spend your funds without your authorisation. All of the private cryptography is done locally on your device.</div>
        </div>
      </div>
    </div>
  </div>
</div>
