
<div class="footer-section">
    <div class="lower-footer">
        <div class="w-container">
            <div class="w-row">
                <div class="w-col w-col-4 middle-footer">
                    <div class="copyright-text">Copyright, Dashcoin.me 2016</div>
                </div>
                <div class="w-col w-col-4 middle-footer social">
                    <a class="w-inline-block links-div right-social" href="http://www.twitter.com/democats" target="_blank">
                        <img class="social-icon" src="images/twit-icon.png" width="28" alt="5451ff22b51342c226604f66_twit-icon.png">
                    </a>
                </div>
                <div class="w-col w-col-4 bottom-footer-column">
                    <div class="w-clearfix footer-link">
                        <a class="footer-link" href="#/privacy-policy" ng-class="currentPage('privacy-policy')">Privacy Policy</a>
                    </div>
                    <div class="w-clearfix footer-link">
                        <a class="footer-link" href="#/terms" ng-class="currentPage('terms')">Terms of Use</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>