
<div class="w-nav nav" data-collapse="small" data-animation="default" data-duration="400" data-contain="1">
    <div class="w-container">
        <nav class="w-nav-menu nav-menu" role="navigation">
            <a class="w-nav-link nav-link" ng-show="!loggedIn()" ng-class="currentPage('create-your-account')" href="#/create-your-account">CREATE A NEW ACCOUNT</a>
            <a class="w-nav-link nav-link" ng-show="!loggedIn()" ng-class="currentPage('support')" href="#/support">SUPPORT</a>
            <a class="w-nav-link nav-link pointer login" ng-show="!loggedIn()" data-ix="display-login" show-modal="login">LOG IN</a>

            <div class="w-dropdown" ng-show="loggedIn()" data-delay="0">
                <div class="w-dropdown-toggle dropdown-toggle">
                    <div>Account</div>
                    <div class="w-icon-dropdown-toggle arrow-icon-style"></div>
                </div>
                <nav class="w-dropdown-list dropdown-rounded">
                    <a class="w-dropdown-link dropdown-styling pointer top" data-ix="display-login-key-review" show-modal="review-login-key">Review Login Key</a>
                    <a class="w-dropdown-link dropdown-styling pointer bottom" data-ix="display-review-account" show-modal="review-account-details">Account Details</a>
                </nav>
            </div>
            <a class="w-nav-link nav-link" ng-show="loggedIn()" ng-class="currentPage('support')" href="#/support">Support</a>
            <a class="w-nav-link nav-link" ng-show="loggedIn()" ng-class="currentPage('-')" ng-click="logout()" href="#/">Logout</a>
        </nav>
        <div class="w-nav-button menu-btn">
            <div class="w-icon-nav-menu"></div>
        </div>
        <a class="w-nav-brand brand-box" ng-href="{{loggedIn() ? '#/overview' : '#/'}}">
            <img src="images/whitelogo.png" width="200" alt="5447353bc16f2af2595d1721_whitelogo.png">
        </a>
    </div>
</div>
